<div class="plane">
  <div class="cockpit">
    <button class="butter" onclick="forEach(getAllClassrooms)">show classes</button>
    <h1>Choose classroom</h1>
  </div>


    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="radio" name="res" id="1" />
          <label for="1">1</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="2" />
          <label for="2">2</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3" />
          <label for="3">3</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4" />
          <label for="4">4</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="5" />
          <label for="5">5</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="6" />
          <label for="6">6</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="radio" name="res" id="3A" />
          <label for="3A">3A</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3B" />
          <label for="3B">3B</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3C" />
          <label for="3C">3C</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3D" />
          <label for="3D">3D</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3E" />
          <label for="3E">3E</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="3F" />
          <label for="3F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="radio" name="res" id="4A" />
          <label for="4A">4A</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4B" />
          <label for="4B">4B</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4C" />
          <label for="4C">4C</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4D" />
          <label for="4D">4D</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4E" />
          <label for="4E">4E</label>
        </li>
        <li class="seat">
          <input type="radio" name="res" id="4F" />
          <label for="4F">4F</label>
        </li>
      </ol>
    </li>

    <li class="row row--5">
      <ol class="seats" type="A">
        <li *ngFor="let classroom of classrooms">
          <input type="radio" name="res" id="5A" />
          <label for="5A">5A</label>
      </ol>
    </li>







</div>
